/*Essa parte referincia a tudo do código para cada teg será passada esses valores*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*Vai pegar os valores padding e o margin adicionados e aplicara em em toda a página, apenas nas bordas */
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    /*Quando tem mais de uma fonte significa que se o computador não reconhecer a primeira fonte Arial, vai passa para a próxima que seria a Helvetica e se o caso persistir será declarada a sans-serif que é uma padrão que todos os navegadores reconhecem*/
    width: 100%;
    background: #EEDDCC;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}



/*É o corpo onde está todo o centeudo essa é a main 1 */
.main1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main1 .container {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*Permique que quando a página chegar em um tamanho especifico a linha passe para coluna*/
    gap: 2%;
    /*Esse gap que dizer quando a página chegar em um tamanho especifico e o conteúdo passar de linha para coluna então entre eles vai ter um espassamento de 30px*/
}

/*Pontos de decoração na página*/
.decoracao {
    width: 85px;
    height: 122px;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.decoracao .point {
    height: 3px;
    width: 3px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    display: flex;
}

/*Fim do estili de pontos de decoração*/

/*Estilo da parte escrita de apresentação e botão de calculadora financeira lado direito da tela na parte de contúdo*/
.apresentacao {
    width: 400px;
    height: 380px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.apresentacao .sub_titulo p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

/*Botão calculadora*/
.apresentacao .calculadora {
    font-size: 18px;
    color: #fff;
    background: #0A0908;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
}

.apresentacao .calculadora:hover {
    background: #0a0908c2;
}

/*Fim da estilização de escritão e botão de calculadora*/

/*estilização da parte de imagen e seus pointos de decoração */
.apresentacao_img {
    display: flex;
}

/*Point Bottom Left (pbl) referência imagem*/
.apresentacao_img .pbl {
    display: flex;
    align-self: flex-end;
    margin-bottom: -20px;
}

/*Point top right (ptr) referência imagem*/
.apresentacao_img .ptr {
    display: flex;
    align-self: flex-start;
    margin-top: -20px;
}

.img_apresentacao {
    width: 350px;
    height: 428px;
    border-bottom-left-radius: 100px;
    background-image: url(../imgs/img-1.jpeg);
    background-size: cover;
}
/*fim do estilo das parte de imagem e suas decorações*/

/*linhas onduladas*/
.linha-ondulada {
    background-image: url(../imgs/ondas.png);
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
}

/*Segunda parte da main conteudo do scroll*/
.main2 {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffff;
}

.main2 h1 {
    margin-top: 2%;
}

.main2 .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    margin-bottom: 10%;
}

.container .box-pai {
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;/*Quando a tela chegar em um determinado tamanho, vai ter uma quebra de linha entre os elementos filhos*/
    gap: 2%;/*Significa o espaçamento entre os elementos que filhos desse pai*/
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.box-pai .box-filho {
    background: #ECECEE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    flex-direction: column;
    border-radius: 10px;
}

.box-pai .box-filho .img img {
    width: 180px;
    height: 170px;
}

.box-pai .box-filho .rotulos {
    display: flex;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
    background-color: #0A0908;
    font-family: 'Times New Roman', Times, serif;
}

/*pontos de decoração de valor absoluto marcada ao topo da main 2*/
.container .pat {
    z-index: -1;
    margin-top: -50px;
}

.main2 .apresentacao {
    width: 80%;
    margin-bottom: 5%;
    height: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main2 .apresentacao .container-img {
    width: 30%;
    height: 428px;
    display: flex;
    flex-direction: column;
}

.main2 .apresentacao .img {
    background-image: url(../imgs/img-sobre.png);
    width: 350px;
    height: 428px;
    border-bottom-right-radius: 100px;
    background-size: cover;

}

.main2 .apresentacao .sobre-nos {width: 30%;}


.main2 .apresentacao .container-img .pat {
    display: flex;
    justify-self: flex-start;
    z-index: -1;/*Esse comando faz a teg ir para traz */
    margin-bottom: -70px;
    margin-left: 100%;
}
/*Fim da parte main2*/


/*Parte main3*/
.main3 {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main3 .container-diagrama {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.main3 .container-diagrama .titulo {
    width: 30%;

}

.slider {
    width: 680px;
    height: 350px;
    position: relative;
    overflow-x: hidden;/*aplica uma barra de scroll no eixo x, mas nesse caso está escondida(hidden)*/
}

.slides {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;/*Vai aplicar uma transição de 5s de forma suave(ease)*/
}

.slide {
    width: 100%;
    height: 250px;
    flex-shrink: 0;/*Esse item não pode encolher mesmo que o espaço seja apertado*/
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Inputs escondidos */
input[name="slide"] {/*Seleciona o input onde o nome = slide*/
    display: none;/*vai retirar esse elemento da tela mas suas propiedades podem ser acessadas*/
}

/* Navegação */
.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);/*Significa que vai se mover para direita no eixo x(horizontal)*/
    display: flex;
    gap: 10px;
}

.navigation label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;/*Quando o cursor do mause passa por cima dessas lebel vai se transformar na mãozinha ou o ponteiro
    trazendo a identificação que o objeto é clicavel*/
    transition: background 0.3s;/*vai aplicar uma transição de backgroun em 0.3 segundos*/
}

input#s1:checked~.slides {
    transform: translateX(0%);/*Se o input com ID s1 estiver marcado (checked), então mova o contêiner .slides para a posição 0%, ou seja, mostre o primeiro slide.*/
}

input#s2:checked~.slides {
    transform: translateX(-106%);/*Se o input com ID s1 estiver marcado (checked), então mova o contêiner .slides para a posição 106%, ou seja, mostre o primeiro slide.*/
}

input#s1:checked~.navigation label[for="s1"],
/*O ~ significa que vai selecionar tudo o que vier apaitir do #s1*/
/*Se o input #s1 estiver selecionado (ou seja, checked), então o CSS vai aplicar um background: #333 no label que tem for="s1" (o botão do slide 1)*/
input#s2:checked~.navigation label[for="s2"] {
    background: #333;
}

.main3 .container-diagrama .slides .box1, .box2, .box3, .box4, .box5,.box6{/*As virgualas entre as classes declaradas,significa que as condições declaradas servem para todas que estão separadas pela virgula*/
    width: 200px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    background-size: cover;
}   

.main3 .container-diagrama .slides .box1:hover,.box2:hover,.box3:hover,.box4:hover, .box5:hover, .box6:hover{
    width: 210px;
    height: 210px;
}

.main3 .container-diagrama .slides .box1 {
    background-image: url(../imgs/1.png);
}

.main3 .container-diagrama .slides .box2 {
    background-image: url(../imgs/2.png);
}

.main3 .container-diagrama .slides .box3 {
    background-image: url(../imgs/3.png);
}

.main3 .container-diagrama .slides .box4 {
    background-image: url(../imgs/1.png);
}

.main3 .container-diagrama .slides .box5 {
    background-image: url(../imgs/1.png);
}

.main3 .container-diagrama .slides .box6 {
    background-image: url(../imgs/1.png);
}



.main3 .container-diagrama .slides .conteudo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 150%;
    background-color: #0A0908;
    color: #ffff;
    border-bottom-left-radius: 10px;/*bordar arredondada apenas no canto esquerdo e na parte inferior */
    border-bottom-right-radius: 10px;/*bordar arredondada apenas no canto direito e na parte inferior */
    padding: 10px;
}
/*Finalizada parte main3 diagrama*/

/*Inicio parte main3 gráfico*/
.main3 .container-grafico{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: linear-gradient(360deg,  #8B6E5A,#EEDDCC );
}

.main3 .container-grafico .cont-2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.main3 .container-grafico .cont-2 .titulo{
    width: 50%;
}

.main3 .container-grafico .cont-2 .grafico{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3 .container-grafico .grafico .img-grafico{
    background-image: url(../imgs/grafico.png);
    border-radius: 20px;
    background-size: cover;
    width: 400px;
    height: 400px;
}

/*FOOTER*/

.container-footer {
    background-image: url(../imgs/footer.png);
    background-size: cover;
}

.background {
    position: relative;
    background-color: rgba(203, 170, 157, 0.7); /* Cor CBAA9D com opacidade de 70% */
    height: 400px;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}


.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* centraliza */
    transform: translateX(-50%);
    width: 1900px;
    height: 400px;
    background-color: #333; /* cor do fundo */
    z-index: -1; /* fica por trás do conteúdo */
    border-radius: 10px;

}

.container-footer .footer-conteudo .links {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    

}


.container-footer .footer-conteudo .links ul li a {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
    
}

.container-footer .footer-conteudo .background .links ul li a:hover {
    color: #AB8E7F; /* ou outra cor de destaque */
    transition: 0.3s;
    
}

.direitos  {
    color: white;
    text-align: center;
    margin-top: 400px;
    font-size: 14px;
    margin-top: 100px; 
   
}









