@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-image: url(../imgs/background_entrada.png);
    background-size: 1920px 1080px;
}

:root {
    --preto: #0a0a0a;
    --branco: #f5f5f5;
    --cinza: #c9c9c9;
    --azul: #5882c1;
    --botaoHover: #222222;
}

/* 
========
  LOGIN
======== */

.aviso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff3cd; 
    color: #856404;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}


.card {
    display: flex;
    /* border: 3px solid black; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .card-login {
    border: 2px solid var(--azul);
    border-radius: 25px;
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    margin: 120px auto;
    backdrop-filter: blur(20px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    text-align: center;
    margin: 5%;
    font-size: 20px;
    /* background-image: url('logo'); */
}

.formLogin {
    /* border: 2px solid yellow; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formLogin .title {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: var(--branco);
}

.formLogin p {
    font-size: 17px;
    color: var(--branco);
    margin-bottom: 3%;
}

.formLogin input {
    width: 97%;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    padding-left: 15px;
}

.formLogin a {
    font-size: 15px;
    margin: 5px 0 5px 0;
    color: var(--cinza);
}

.container .botao {
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;
    width: 285px;
    height: 40px;
    align-items: center;
    border-radius: 7px;
    background-color: var(--preto);
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 16px;
    border-style: none;
}

.botao:hover {
    background-color: #222222;
}

#SemConta {
    font-size: 12px;
    margin-bottom: 30px;
    color: var(--branco);
}

/* 
========
  CADASTRO
======== */
/*
Card pai responsavel por deixar a central de cadastro no centro da tela
*/
.card-cadastro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 3%;
    justify-content: center;
}

/*
Container responsaver por gerenciar a parte de cadastro de usuario e loja deixando elas ao centro
e o position relative fara qu eo contúdo dentro dela sejam relativos ao ela, ou seja não vai sair para fora dessa caixa e sim ficar de certa forma escondido por isso o overflow: hidden, pois ele impede que apareça a o scroll 
*/
.card-cadastro .container{
    display: flex;
    width: 700px;
    height: 600px;
    border: 2px solid var(--azul);
    border-radius: 25px;
    justify-content: center;
    backdrop-filter: blur(20px);
    align-items: center;
    position: relative;
    overflow: hidden;/*aplica uma barra de scroll no eixo x, mas nesse caso está escondida(hidden)*/
}

/*
aqui é onde vai ficar a parte de login e cadastro, o transition serve para dari um efeito de transição quando a for selecionado ou cadastro de usuario ou loja
*/
.card-cadastro .container .formCadastro{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;/*Vai aplicar uma transição de 5s de forma suave(ease)*/
}

.card-cadastro .container  input[name="cad"]{
    opacity: 0;/*vai fazer com que os inputs fiquem transparente na tela*/
}

/*
Local onde esta a as label qe são referencias dos inputs escondidos, a posição absolute significa que terá o poder se estar sobre qualquer objeto
*/
.navigation {
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-top: -10px;
    transform: translateX(-50%);
}

/*
aqui as duas labels estão recebendo estilis e nessa parte é um estilo geral que vai atingia ambas
*/
.navigation label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #bdb8b8;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/*O ~ significa que vai selecionar tudo o que vier apaitir do #s1
Se o input #s1 estiver selecionado (ou seja, checked), então o CSS vai aplicar um background: #333 no label que tem for="s1" (o botão do slide 1)
*/
input#c1:checked~.navigation label[for="c1"],
input#c2:checked~.navigation label[for="c2"] {
    background: #333;
}

/*
Essa parte e a proxima está indicando que hávera uma transição, 
c1 que é a o cadastro do usuario tem referencia na posisão 0 
c2 selecionado vai para -52% qu eesta referenciando ao cadastro da loja 
*/
input#c1:checked ~ .formCadastro {
    transform: translateX(0%);
}

input#c2:checked ~ .formCadastro {
    transform: translateX(-100%);
}
    
/*
Esta desenvolvendo um estilo global para tela de cadastro usuário e loja
*/
.card-cadastro .container .formCadastro .form1, .form2{
    display: flex;
    width: 600px;
    flex-wrap: wrap;/*Vai ter quebra de linha em um determinado tamanho*/
    justify-content: center;
    align-items: center;  
}

/*
para ficar centralizado
*/
.card-cadastro .container .formCadastro .form1, .form2{margin-left: 11%;}
.card-cadastro .container .formCadastro .form2{ margin-left: 14%;}

.card-cadastro .container .formCadastro .form1 h2, .form2 h2{
    text-align: center;
    margin-right: 50px;
    color: #fff;
}
.card-cadastro .container .formCadastro .form1 p, .form2 p{
    color: #fff;  
}

/*
Estilo para os input no geral de cadastro para que fiquem 2 em cada linha
mas quando a tela for menor vai ter a quebra de linha ficado um input embaixo do outro
*/
.card-cadastro .container .formCadastro .form1 .input_conjunto, .form2 .input_conjunto{
    display: flex;
    width: 600px;
    gap: 20px; 
    flex-wrap: wrap;
}

/*
Estilo para os input no geral de cadastro
*/
.card-cadastro .container .formCadastro .form1 input, .form2 input{
    width: 250px;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    padding-left: 15px;
}