body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../imgs/background_entrada.png);
    background-size: 1920px 1080px;
}

:root {
    --preto: #0a0a0a;
    --branco: #f5f5f5;
    --cinza: #c9c9c9;
    --azul: #5882c1;
}
/* 
========
  LOGIN
======== */

.card {
    display: flex;
    /* border: 3px solid black; */
    justify-content: center;
    align-items: center;
}

.card .card-login {
    border: 2px solid var(--azul);
    border-radius: 25px;
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    margin: 120px auto;
    backdrop-filter: blur(20px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.logo {
    text-align: center;
    margin: 5%;
    font-size: 20px;
    /* background-image: url('logo'); */
}

.formLogin {
    /* border: 2px solid yellow; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.formLogin .title {
    font-size: 30px;
    margin: 0 0 10px 0;
    color: var(--branco);
}

.formLogin p {
    font-size: 17px;
    color: var(--branco);
    margin-bottom: 3%;
}

.formLogin input {
    width: 97%;
    height: 35px;
    border-radius: 7px;
    border-style: none;
    padding-left: 15px;
}

.formLogin a {
    font-size: 15px;
    margin: 5px 0 5px 0;
    color: var(--cinza);
}

.container .botao {
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;
    width: 285px;
    height: 40px;
    align-items: center;
    border-radius: 7px;
    background-color: var(--preto);
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 16px;
    border-style: none;
}

.botao:hover {
    background-color: #222222;
}

#SemConta {
    font-size: 12px;
    margin-bottom: 30px;
    color: var(--branco);
}